<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <table class="table table-dark">
            <tbody>
                <tr>
                    <td>Employee No: </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="emp.empNo">
                    </td>
                </tr>
                <tr>
                    <td>Employee Name: </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="emp.empName">
                    </td>
                </tr>
                <tr>
                    <td>Salary: </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="emp.Salary">
                    </td>
                </tr>
                <tr>
                    <td>Department Name: </td>
                    <td>
                        <select class="form-control" [(ngModel)]="emp.DeptName">
                            <option *ngFor="let d of depts" value="{{d}}">{{d}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Designation: </td>
                    <td>
                        <select class="form-control" [(ngModel)]="emp.Designation">
                            <option *ngFor="let d of desigs" value="{{d}}">{{d}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="New" (click)="clear()" class="btn btn-defalut">
                    </td>
                    <td>
                        <input type="button" value="Save" (click)="save()" class="btn btn-success">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-light table-bordered">
            <thead>
                <tr>
                    <td><input type="checkbox" id="ckbheader" [checked]="checkAll()" (change)="isAllChecked()"></td>
                    <td *ngFor="let h of tableHeaders">{{h}}</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of emps" (click)="getSelectedItem(e)">
                    <td><input type="checkbox" id="ckb{{e.empNo}}" [(ngModel)]="isChecked"></td>
                    <td *ngFor="let c of tableHeaders">{{e[c]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>